Q4)Which are the Top 5th to 15th VEH_MAKE_IDs that contribute to a largest number of injuries including death

In [0]:
from pyspark.sql.functions import *
from pyspark.sql.window import *

In [0]:
df_units=spark.read.format("csv").option("inferschema",True).option("header",True).load("dbfs:/FileStore/Units_use.csv")

In [0]:
df_units.groupBy("VEH_MAKE_ID").sum("TOT_INJRY_CNT","DEATH_CNT").withColumn("total_injuries_including_death",col("sum(TOT_INJRY_CNT)")+col("sum(DEATH_CNT)")).show()

+-------------------+------------------+--------------+------------------------------+
|        VEH_MAKE_ID|sum(TOT_INJRY_CNT)|sum(DEATH_CNT)|total_injuries_including_death|
+-------------------+------------------+--------------+------------------------------+
|AMERICAN IRON HORSE|                 0|             0|                             0|
|              ACURA|               317|             3|                           320|
|              WHITE|                 0|             0|                             0|
|MOTOR COACH MND INC|                 0|             0|                             0|
|             PIERCE|                 1|             0|                             1|
|            PORSCHE|                23|             0|                            23|
|           WHITEGMC|                 0|             0|                             0|
|       FREIGHTLINER|               291|             2|                           293|
|              BUELL|                 2|             1|                             3|
|           STERLING|                14|             0|                            14|
|            HYUNDAI|              1098|             5|                          1103|
|      INTERNATIONAL|               205|             2|                           207|
|PETER PIRSCH & SONS|                 0|             0|                             0|
|               FIAT|                30|             0|                            30|
|                 NA|               605|            71|                           676|
|             TOYOTA|              4208|            20|                          4228|
|                RAM|                39|             0|                            39|
|             SUBARU|               114|             1|                           115|
|             NISSAN|              3097|            21|                          3118|
|     IC CORPORATION|                 2|             0|                             2|
+-------------------+------------------+--------------+------------------------------+
only showing top 20 rows

In [0]:
df_temp1=df_units.groupBy("VEH_MAKE_ID").sum("TOT_INJRY_CNT","DEATH_CNT").withColumn("total_injuries_including_death",col("sum(TOT_INJRY_CNT)")+col("sum(DEATH_CNT)")).select("VEH_MAKE_ID","total_injuries_including_death")

In [0]:
df_temp1.orderBy(desc("total_injuries_including_death")).filter(col("VEH_MAKE_ID")!="NA").show()

+-------------+------------------------------+
|  VEH_MAKE_ID|total_injuries_including_death|
+-------------+------------------------------+
|    CHEVROLET|                          7024|
|         FORD|                          6992|
|       TOYOTA|                          4228|
|        DODGE|                          3146|
|       NISSAN|                          3118|
|        HONDA|                          2892|
|          GMC|                          1256|
|      HYUNDAI|                          1103|
|          KIA|                          1049|
|         JEEP|                           989|
|     CHRYSLER|                           956|
|        MAZDA|                           711|
|   VOLKSWAGEN|                           582|
|      PONTIAC|                           564|
|        LEXUS|                           523|
|        BUICK|                           521|
|   MITSUBISHI|                           510|
|     CADILLAC|                           498|
|      MERCURY|                           397|
|MERCEDES-BENZ|                           394|
+-------------+------------------------------+
only showing top 20 rows

In [0]:
df_temp2=df_temp1.orderBy(desc("total_injuries_including_death")).filter(col("VEH_MAKE_ID")!="NA")

In [0]:
df_temp2.withColumn("rank",monotonically_increasing_id()+1).show(20)

+-------------+------------------------------+----+
|  VEH_MAKE_ID|total_injuries_including_death|rank|
+-------------+------------------------------+----+
|    CHEVROLET|                          7024|   1|
|         FORD|                          6992|   2|
|       TOYOTA|                          4228|   3|
|        DODGE|                          3146|   4|
|       NISSAN|                          3118|   5|
|        HONDA|                          2892|   6|
|          GMC|                          1256|   7|
|      HYUNDAI|                          1103|   8|
|          KIA|                          1049|   9|
|         JEEP|                           989|  10|
|     CHRYSLER|                           956|  11|
|        MAZDA|                           711|  12|
|   VOLKSWAGEN|                           582|  13|
|      PONTIAC|                           564|  14|
|        LEXUS|                           523|  15|
|        BUICK|                           521|  16|
|   MITSUBISHI|                           510|  17|
|     CADILLAC|                           498|  18|
|      MERCURY|                           397|  19|
|MERCEDES-BENZ|                           394|  20|
+-------------+------------------------------+----+
only showing top 20 rows

In [0]:
df_temp2.withColumn("rank",monotonically_increasing_id()+1).filter((col("rank") >=5 ) &(col("rank") <=15 )).select("rank","VEH_MAKE_ID").show()

+----+-----------+
|rank|VEH_MAKE_ID|
+----+-----------+
|   5|     NISSAN|
|   6|      HONDA|
|   7|        GMC|
|   8|    HYUNDAI|
|   9|        KIA|
|  10|       JEEP|
|  11|   CHRYSLER|
|  12|      MAZDA|
|  13| VOLKSWAGEN|
|  14|    PONTIAC|
|  15|      LEXUS|
+----+-----------+